.page {
  min-height: 100vh;
  background: #1e1e1e;
  padding: 28px 28px 80px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statsContainer {
  display: flex;
  gap: 80px;
  margin: 40px 0; /* Also increase vertical margin for better spacing */
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
}

.count {
  font-size: 64px;
  font-weight: 900;
  color: var(--primary-color);
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

.button {
  background: var(--primary-color-a20);
  border: 1px solid var(--primary-color-a55);
  color: #fff;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}
